<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Hello</title>
</head>
<body>
   <div>
       <form method="post" >
           <label for = "formCategory">Category</label>
           <input type="text" id="formCategory" name="formCategory"><br>
           <label for="formName">Event Title</label>
           <input type="text" id="formName" name="formName"><br>
           <textarea name="formDescription" id="description" placeholder="Type your description here.." rows="4" cols="50"></textarea><br>
           <input type="submit" value="Submit">
       </form>
   </div>





</body>
</html>