<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Stormers</title>

    <link rel="stylesheet" th:href="@{/styles/stormer.css}" />


    <div th:replace="fragments :: page-header"></div>
</head>
<body>
<h1 style="text-align: center;">Stormers</h1>

<div class="leftside">
    <form>
        <button type="submit" formaction="/stormers/form">Become A Stormer!</button>
    </form>

</div>


<div style="display:grid;grid-template-columns:auto auto auto;grid-template-rows:auto auto;grid-row-gap:100px;margin-left:300px;">
    <div th:each = "post : ${posts}"><a th:href="@{'/stormers/view/' + ${post.id}}" th:text="${post.name}"></a></div>

</div>
</body>
</html>