<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title>Stormers</title>

    <link rel="stylesheet" th:href="@{/styles/stormer.css}" />

    <style>
 h2 {
    color: pink;
    }
</style>

    <div th:replace="fragments :: page-header"></div>
</head>
<body>
<h1 style="text-align: center;">Stormers</h1>
<div>
    <form style="text-align: right;">
        <input type="search" name="search" placeholder="Type to search"/>
        <button>Search</button>
    </form>
</div>
<div class="leftside">
    <form>
        <button type="submit" formaction="/stormers/form">Become A Stormer!</button>
    </form>

</div>

<div style="padding-bottom: 50px;">
    <h2 style="text-align: center;color:purple;">Most recent posts!</h2>
</div>

<div style="display:grid;grid-template-columns:auto auto auto;grid-template-rows:auto auto;grid-row-gap:100px;margin-left:300px;">
    <div th:text="${posts}">Post 1</div>
    <div>Post 2</div>
    <div>Post 3</div>
    <div>Post 4</div>
    <div>Post 5</div>
    <div>Post 6</div>
</div>
</body>
</html>