<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
</head>
<body>
<h1>Explore</h1>
<div>
    <h3>Add tags below to explore by</h3>
</div>
<div class="tagArea" style="background-color: green;">
    <button>Selected tag</button>
    <button>Selected tag</button>
    <button>Selected tag</button>
</div>
<hr>
<input type="text" value="Type a tag name">
<div class="search" style="background-color: aquamarine;">
    <button>Searchable tag</button>
    <button>Searchable tag</button>
    <button>Searchable tag</button>
</div>
    <img src="suit.jpg" alt="user post">
</body>
</html>