<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Explore</title>
</head>
<body>
<h1>Explore</h1>
<div>
    <h3>Add tags below to explore by</h3>
</div>
<div class="tagArea" style="background-color: green;">
    <button>Selected tag</button>
    <button>Selected tag</button>
    <button>Selected tag</button>
</div>
<hr>
<input type="text" value="Type a tag name">
<div class="search" style="background-color: aquamarine;">
    <button>Searchable tag</button>
    <button>Searchable tag</button>
    <button>Searchable tag</button>
</div>
    <img src="file:///C:/Users/bri39/desktop/LiftOff/liftoff-group/StyleStorm/src/main/resources/templates/suit.jpg"/>
</body>
</html>