<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<div th:replace="fragments :: page-header"></div>

<body class="body">
<div>
    <title>Welcome to StyleStorm</title>
    <h1>Welcome to StyleStorm</h1>

<link th:href="@{/styles/styles.css}" rel="stylesheet" />
<body class="body">
<div class="indent">
    <title>Welcome to StyleStorm</title>
    <h2>Existing User?</h2>
<!--    <style>-->
<!--    .login {-->
<!--        width: 300px;-->
<!--        padding: 20px;-->
<!--        font-size: 3em;-->
<!--        }-->
<!--    </style>-->
<!--    <button class="login">Login</button>-->
    <a th:href="@{'/login'}">Login</a>
    <h2>Don't have an account?</h2>
<!--    <button class="register">Register</button>-->
    <a th:href="@{'/register'}">Register</a>

</div>

</body>
</html>