<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container" style="background-color:lightgrey;">

<!--<header th:replace="fragments :: page-header"></header>-->
<div style="position:absolute; top:8px; left:16px;">
  <img th:src="@{/images/stylestormlogo.png}" width="170" alt="Logo">
</div>

<form method="post" style="text-align:center;padding:50px;">
  <div class="form-group">
    <label style="font:45px Papyrus, fantasy;color:black">Username
      <input class="form-control" th:field="${registerFormDTO.username}" />
    </label>
    <p class="error" th:errors="${registerFormDTO.username}"></p>
  </div>
  <div class="form-group">
    <label style="font:45px Papyrus, fantasy;color:black">Password
      <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
    </label>
    <p class="error" th:errors="${registerFormDTO.password}"></p>
  </div>
  <div class="form-group">
    <label style="font:45px Papyrus, fantasy;color:black">Verify Password
      <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
    </label>
  </div>

  <input type="submit" style="background-color:mediumpurple; color:white; font:16px Papyrus,fantasy; text-align:center; padding:15px; display:inline-block;border-radius:12px;" value="Register" />
</form>

</body>
</html>