<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
    <meta charset="UTF-8">
    <title>Stormers</title>

    <link th:href="@{/styles/stormers.css}" rel="stylesheet" />
<!--    <link rel="stylesheet" type="text/css" href ="stormers.css">-->
    <div th:replace="fragments :: page-header"></div>
</head>
<body>
    <h1 style="text-align: center;">Stormers</h1>
    <div class="leftside">
       <h3>Stormers You Follow</h3><br>
        <h3>Your Favorite Stormers</h3>
    </div>

    <div>
        <h2 class="h2-posts" style="text-align: center;">Most recent posts!</h2>
    </div>

    <div>
        <h2 class="h2-stylestorming">See How Other Stormers Are Stylestorming!</h2>
    </div>
</body>
</html>