<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${post.name}" class="form-control">
        </label>
        <p class="error" th:errors="${post.name}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${post.postDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${post.postDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Contact Email
            <input th:field="${post.postDetails.contactEmail}" class="form-control">
        </label>
        <p class="error" th:errors="${post.postDetails.contactEmail}"></p>
    </div>
    <div class="form-group">
        <label>Category
            <select th:field="${post.postTag}">
                <option th:each="tag : ${tags}"
                        th:value="${tag.id}"
                        th:text="${tag.name}"
                ></option>
            </select>
            <p class="error" th:errors="${post.tag}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
<form method="post" >
    <div class="form-group">
        <label>Post
            <input th:field="${post.typeofevent}" class=""form-control">
        <span th:errors="${post.eveny}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="location">Employer Location</label>
        <input class="form-control" th:field="${post.outfit}" />
        <span th:errors="${post.outfit}" class="error"></span>
    </div>

