<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'Post: ' + post.name}">Post</h1>

<nav th:replace="fragments :: page-header"></nav>

<div>
    <p th:text="${'ID: ' + post.id}"></p>
    <p th:text="${'Name: ' + post.name}"></p>
    <p> Posts: <a th:href="@{'/styleyourevent/view/' + ${post.user.id}}" th:text="${post.user.name}"></a></p>
    <p> Tags:
        <ul>
            <li th:each="tag : ${post.tags}">
            <a th:href="@{'/tags/view' + ${tag.id}}" th:text="${tag.name}"></a>
        </li>
    </ul>
    </p>
</div>

</body>
</html>